<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
<!--        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">-->
<!--            <layout class="com.example.logtest.MaskingPatternLayout">-->
<!--                <patternsProperty>password</patternsProperty>-->
<!--                <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([requestId:%X{RequestId:&#45;&#45;}]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>-->
<!--            </layout>-->
<!--        </encoder>-->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>